@charset "utf-8";

/* CSS Document */


@font-face {
	font-family: "amir";
	src: url( "fontamir.ttf");
}
*{
	font-family:amir;}
body {
    background-color: white;
    text-align: center;
    margin: 10px;
    background-repeat: no-repeat;
  }
  .code input[type="number"]{
    margin: 20px;
    width: 270px;
    height: 30px;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid blue;
    border-color: blue;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    
  }
  .code input[type="number"]:hover{
    box-shadow: 1px 4px 8px black;
  }
  
  
  .code input[type="submit"]{

    margin: 10px;
    padding: 10px 14px;
    width: 150px;
    height: 36px;
    border-radius: 8px;
    background: #03b4da;
    border:0px;
    color: aliceblue;
  }
  img {
    border-radius: 550px;
  }
  .code input[type="submit"]:hover{
    background-color: rgb(130, 153, 141);
    font-weight: 700;
    color: white;
    box-shadow: 2px 4px 8px black;
  }
  